<div class="page-content">


    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>Master Creation </h3>
        </div>


    </div>
    <!-- /page header -->


    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Booking lists</li>
        </ul>

        <div class="visible-xs breadcrumb-toggle">
            <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
        </div>

        <ul class="breadcrumb-buttons collapse">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search3"></i> <span>Search</span> <b class="caret"></b></a>
                <div class="popup dropdown-menu dropdown-menu-right">
                    <div class="popup-header">
                        <a href="#" class="pull-left"><i class="icon-paragraph-justify"></i></a>
                        <span>Quick search</span>
                        <a href="#" class="pull-right"><i class="icon-new-tab"></i></a>
                    </div>
                    <form action="#" class="breadcrumb-search">
                        <input type="text" placeholder="Type and hit enter..." name="search" class="form-control autocomplete">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="radio">
                                    <input type="radio" name="search-option" class="styled" checked="checked">
                                    Everywhere
                                </label>
                                <label class="radio">
                                    <input type="radio" name="search-option" class="styled">
                                    Invoices
                                </label>
                            </div>

                            <div class="col-xs-6">
                                <label class="radio">
                                    <input type="radio" name="search-option" class="styled">
                                    Users
                                </label>
                                <label class="radio">
                                    <input type="radio" name="search-option" class="styled">
                                    Orders
                                </label>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-block btn-success" value="Search">
                    </form>
                </div>
            </li>


        </ul>
    </div>
    <!-- /breadcrumbs line -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-checkbox-partial"></i> Daily Open Transaction</h6>
        </div>

        <!--List of Customers-->
        <!--<urja-customerlist customers="vm.customers"></urja-customerlist>-->
        <!--<urja-customer-transaction-list transactions="vm.transactions"></urja-customer-transaction-list>-->
        <!--<urja-transaction customertransactions="vm.customerTransactions"></urja-transaction>-->
        <!--<datatable-wrapper>
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover">
            </table>
        </datatable-wrapper>-->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <!--Vehicle List -->
                    <table ng-table="vm.defaultConfigTableParams" class="table table-condensed table-bordered table-striped">
                        <tr ng-repeat="transaction in $data">
                            <td data-title="'Customer Id'" filter="{ customerId: 'text'}" sortable="'customerId'">
                                <a ng-href="#/transactionDetail/{{transaction.customerId}}"><em>{{transaction.customerId}}</em></a>
                            </td>
                            <td data-title="'Customer Name'"  filter="{customerName:'text'}" sortable="'customerName'">{{transaction.customerName}}</td>
                            <td data-title="'Customer Vehicle Number'" filter="{customerVehicleNumber: 'text'}" sortable="'customerVehicleNumber'">{{transaction.customerVehicleNumber}}</td>
                            <td data-title="'Customer Mobile'"  filter="{mobile:'text'}" sortable="'mobile'">{{transaction.mobile}}</td>
                            <td data-title="'Transaction Id'" filter="{transactionId:'text'}" sortable="'transactionId'">{{transaction.transactionId}}</td>
                        </tr>
                    </table>
                </div>

            </div>



        </div>

        <!--<h1>Wait some time!!</h1>
        {{vm.dailytransactionOpen[0] | json}}
        <div ng-repeat="transaction in vm.dailytransactionOpen" class="panel panel-primary">
            {{ transaction}}
        </div>-->





    </div>


</div>