<!-- Navbar -->
<urja-navbar></urja-navbar>
<!-- /navbar -->


<!-- Page container -->
<div class="page-container">


    <!-- Sidebar urjaSidebar-->
    <urja-sidebar></urja-sidebar>
    <!-- /sidebar -->


    <!-- Page content -->
    <div class="page-content">


        <!-- Page header -->
        <div class="page-header">
            <div class="page-title">
                <h3>Master Creation </h3>
            </div>


        </div>
        <!-- /page header -->


        <!-- Breadcrumbs line -->
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Booking lists</li>
            </ul>

            <div class="visible-xs breadcrumb-toggle">
                <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
            </div>

            <ul class="breadcrumb-buttons collapse">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search3"></i> <span>Search</span> <b class="caret"></b></a>
                    <div class="popup dropdown-menu dropdown-menu-right">
                        <div class="popup-header">
                            <a class="pull-left"><i class="icon-paragraph-justify"></i></a>
                            <span>Quick search</span>
                            <a class="pull-right"><i class="icon-new-tab"></i></a>
                        </div>
                        <form class="breadcrumb-search">
                            <input type="text" placeholder="Type and hit enter..." name="search" class="form-control autocomplete">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="radio">
                                        <input type="radio" name="search-option" class="styled" checked="checked">
                                        Everywhere
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="search-option" class="styled">
                                        Invoices
                                    </label>
                                </div>

                                <div class="col-xs-6">
                                    <label class="radio">
                                        <input type="radio" name="search-option" class="styled">
                                        Users
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="search-option" class="styled">
                                        Orders
                                    </label>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-block btn-success" value="Search">
                        </form>
                    </div>
                </li>


            </ul>
        </div>
        <!-- /breadcrumbs line -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-checkbox-partial"></i> Customer Transaction Details</h6>
            </div>
            <!--<div class="panel-heading">
                Search by Car Number: <label>Name only <input ng-model="search.carNumber"></label><br>
            </div>-->

            <!--List of Customers-->
            <!--<urja-customerlist customers="vm.customers"></urja-customerlist>-->
            <!--<urja-customer-transaction-list transactions="vm.transactions"></urja-customer-transaction-list>-->
            <!--<urja-transaction customertransactions="vm.customerTransactions"></urja-transaction>-->
            <!--{{vm.transactions | json}}-->
            <!--<div ng-repeat="transaction in vm.transactions" class="panel panel-primary">-->
            <div ng-repeat="transaction in vm.transactionArray" class="panel panel-primary"><!--ng-show="{{transaction.requestStatus == 'open' || transaction.requestStatus == 'progress'}}"-->
                <div class="panel-heading">
                    <!--<h2 class="label label-success">{{transaction.carNumber}}</h2>-->
                    <h3 class="panel-title label">Details For Car : {{transaction.carNumber}}</h3><span ng-show="{{transaction.requestStatus == 'open'}}" class="label label-success pull-right">Open</span>
                    <span  ng-show="{{transaction.requestStatus == 'closed'}}" class="label label-danger pull-right">Closed</span>
                    <span  ng-show="{{transaction.requestStatus == 'progress'}}" class="label label-warning pull-right">In Progress</span>
                </div>
                <div class="panel-body" >
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="col-lg-12">
                                <label>Booking Id</label>
                                <input type="text" ng-model=transaction["transactionId"] class="form-control" readonly>
                            </div>

                            <div class="col-lg-12">
                                <label>Booking Date</label>
                                <input type="text" class="form-control" ng-model=transaction["serviceRequestDate"] ng-readonly="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'">
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-12">
                                <label>Address</label>
                            <input type="text" class="form-control" ng-model=transaction["addressLine1"] ng-readonly="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'"/>
                                <!--{{transaction.CarPickAddress.addressLine1}}, {{transaction.CarPickAddress.addressLine2}},{{transaction.CarPickAddress.state}}, {{transaction.CarPickAddress.pin}}</textarea>-->
                            </div>
                            <div class="col-lg-12">
                                <label>Landmark</label>
                                <input type="text" class="form-control" ng-model=transaction["landmark"] ng-readonly="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-12">
                                <label>Customer Mobile No.{{transaction.CarPickAddress.mobileNumber}}</label>
                                <input type="text" class="form-control" ng-model=transaction["mobileNumber"] ng-readonly="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'">
                            </div>
                            <div class="col-lg-12" ng-show="transaction.requestStatus == 'open'">
                                <label>Assign Agent</label>
                                <select class="form-control" ng-model="vm.selectedItem[$index]" ng-options="vanAgent.agentName for vanAgent in transaction['agentNames']" ng-click="vm.populateOptions($index)" ng-hide="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'"><!--ng-model="vm.selectedAgentName" ng-options=""-->
                                    <option value="">-- Choose Agent --</option>
                                </select>
                            </div>
                            <div class="col-lg-12" ng-show="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'">
                                <label>Assign Agent</label>
                                <input type="text" class="form-control" ng-model=transaction["agentAssigned"] ng-show="transaction.requestStatus == 'progress' || transaction.requestStatus == 'closed'" readonly>
                            </div>

                            <!--The below code is bind with model-->
                            <div class="col-lg-12" ng-show="transaction['serviceProcessDate'] != undefined">
                                <label>Processing Date</label>
                                <input type="text" class="form-control" ng-model=transaction["serviceProcessDate"] ng-disabled="transaction.requestStatus == 'closed' || transaction.requestStatus == 'progress'" readonly>
                            </div>
                            <div class="col-lg-12" ng-show="transaction['serviceCompleteDate'] != undefined">
                                <label>Completion Date</label>
                                <input type="text" class="form-control" ng-model="transaction['serviceProcessDate']" ng-show="transaction.requestStatus == 'closed'" readonly>
                            </div>

                            <!--If there is no data previously in the database-->
                            <div class="col-lg-12" ng-show="vm.showServiceProcessDate[$index]">
                                <label>Processing Date</label>
                                <input type="text" class="form-control" ng-model="vm.serviceProcessDate[$index]" ng-disabled="transaction.requestStatus == 'closed' || transaction.requestStatus == 'progress'" readonly>
                            </div>
                            <div class="col-lg-12" ng-show="vm.showServiceEndDate[$index]">
                                <label>Completion Date</label>
                                <input type="text" class="form-control" ng-model="vm.serviceCompleteDate[$index]" ng-show="transaction.requestStatus == 'closed'" readonly>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 20px">

                        <div class="col-lg-8">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Service Requested</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-12" >
                                        <div class="col-lg-4 well" ng-repeat="service in transaction.serviceRequestList" >
                                            {{service.code}}- {{service.desc}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <button type="button" ng-show="transaction.requestStatus == 'progress'"  value="{{transaction.$id}}" class="btn btn-primary pull-right" ng-click="vm.onCloseTransaction($index)" ng-disabled="transaction.requestStatus == 'closed'" style="margin-right:10px">Close Transaction</button>
                                </div>
                                <div class="col-lg-4">
                                    <button type="button" value="{{transaction.$id}}" class="btn btn-primary pull-right" ng-show="transaction.requestStatus == 'open'" ng-click="vm.onClick($index)" ng-disabled="transaction.requestStatus == 'progress' || transaction.requestStatus == 'progress'" style="margin-right:10px">Assign Van</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <!--WERTY-->

        </div>


    </div>
    <!-- /page content -->


</div>
<!-- /page container -->