<form class="form-horizontal" name="vehicleForm" ng-submit="vm.submitAction({vehicle: vm.vehicle})" novalidate>
    <fieldset>
        <!-- Prepended text-->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-5">
                <label class="col-md-4 control-label" ng-bind="vm.vanAddedmessage"></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-users form-control-feedback"></i></span>
                            <input ng-model="vm.vehicle.agentName"   id="agentName" name="agentName" class="form-control" placeholder="Agent Name" type="text">

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-address-book"></i></i></span>
                            <textarea ng-model="vm.vehicle.agentAddress" id="agentAddress" name="agentAddress" class="form-control" placeholder="Address" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="contactNo"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-mobile"></i></span>
                            <input ng-model="vm.vehicle.agentContact" id="contactNo" name="contactNo" class="form-control" placeholder="Mobile" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicleNo"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-truck">#</i></span>
                            <input ng-model="vm.vehicle.vehicleNumber"  id="vehicleNo" name="vehicleNo" class="form-control" placeholder="Vehicle Number" type="text">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicleName"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-truck"></i></i></span>
                            <input ng-model="vm.vehicle.vehicleName" id="vehicleName" name="vehicleName" class="form-control" placeholder="Vehicle Name" type="text">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="vehicleName"></label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-certificate"></i></i></span>
                            <select ng-model="vm.vehicle.idType" id="idType" name="idType" class="form-control" style="width: 130px;">
                                <option value="License" selected>Driving License</option>
                                <option value="Adhaar">Adhaar Card</option>
                                <option value="Passbook">Bank passbook</option>
                                <option value="PanCard">Pan card</option>
                                <option value="Passport">Passport</option>
                            </select>
                            <span class="input-group-addon">#</span>
                            <input ng-model="vm.vehicle.idNumber" id="idNumber" name="idNumber" class="form-control" placeholder="Id Number" type="text">
                        </div>

                    </div>
                </div>
            </div>
        </div>










        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-bind="vm.buttonTitle" type="submit">Add</button>
            </div>
        </div>

    </fieldset>
</form>
